.hero {
<<<<<<< HEAD
  max-width: 100%;
  height: auto;
  background-image: url("images/header.jpg");
=======

>>>>>>> origin/master
}

footer {
  background-color: black;
  color: white;
}

footer nav {
  float: right;
}

footer nav a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

footer nav a:hover {
  color: yellow;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
